{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

{% load crispy_forms_tags %}
<div class="container table">
  <div class="container d-flex justify-content-center row g-1">
    <div class=" d-flex justify-content-center ">
      <p class="fw-bold">Enter data for registration:</p>
    </div>
    <form method="post" class="col-6">
      {% csrf_token %} 
      
      {{ form|crispy }}
 
      <div class="d-flex justify-content-center">
        <a class="btn btn-outline-danger me-3" href="{% url 'list_students' %}" role="button">Cancel</a>
        <button class="btn btn-outline-primary">Register</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}